#decoration-main{
    -fx-background-color: #fad79c;
}

#decoration-assm, #decoration-report, #decoration-settings{
    -fx-background-color: #f8c878;
}

#decoration-detail{
    -fx-background-color: #fdd590;
}

#decoration-main .label{
    -fx-text-fill: #4f412f;
}

#main, #assm, #detail, #report, #settings, #executions{
    -fx-background-color: #f8f1db;
}

#contextMenu{
    -fx-background-color: #ebf6f8;
    -fx-text-fill: #4f412f;
}

.tooltip{
    -fx-background-color: #ebf6f8;
    -fx-text-fill: #4f412f;
    -fx-font-size: 12;
}

.button{
    -fx-background-color: #f8f1db;
}

.button:hover{
    -fx-background-color: #f8e5ab;
}

.button:pressed{
    -fx-background-color: #f6df96;
}

.text-field{
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
}


.label{
    -fx-text-fill: #4f412f;
}

.list-view{
    -fx-background-color: #f8f5eb;
    -fx-background: #f8f5eb;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #e2dfdf;
}

.list-view .list-cell{
    -fx-background-color: #f8f5eb;
    -fx-text-fill: #4f412f;
}

.list-view .list-cell:selected{
    -fx-background-color: #f8edc8;
    -fx-text-fill: #4f412f;
}

.list-view .list-cell:hover{
    -fx-text-fill: royalblue;
}

.context-menu{
    -fx-background-color: #ebf6f8;
}

.menu-item{
    -fx-background-color: #ebf6f8;
}

.menu-item:hover{
    -fx-background-color: #b7d2d7;
}

.pane{
    -fx-background-color: #f6caa8;
}

/*НАСТРОЙКИ*/

.settings-vb-main{
    -fx-spacing: 5;
    -fx-pref-width: 500;
    -fx-padding: 5 20 5 5;
    -fx-background-color: #f8f5eb;
}

.settings-vb-block{
    -fx-spacing: 5;
}

.settings-hb-value-block{

}

.settings-lb-title{
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.settings-lb-name{
    -fx-padding: 0 0 0 10 ;
}

.settings-tf-value{
    -fx-pref-width: 80;
    -fx-alignment: baseline-center;
    -fx-background-color: #f8f5eb;
}

/*МАТЕРИАЛЫ*/

.materials-vb{
    -fx-background-color: #f8f5eb;
}