#decoration-main{
    -fx-background-color: #fcdfae;
}

#decoration-assm{
    -fx-background-color: #ecf6c6;
}

#decoration-detail{
    -fx-background-color: #f5f5b7;
}

#decoration-main .label{
    -fx-text-fill: #4f412f;
}

#main, #assm, #detail{
    -fx-background-color: #f8f1db;
}

#contextMenu{
    -fx-background-color: #ebf6f8;
}

.text-field{
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
}


.label{
    -fx-text-fill: #4f412f;
}

.list-view{
    -fx-background-color: #f8f5eb;
    -fx-background: #f8f5eb;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #e2dfdf;
}

.list-view .list-cell{
    -fx-background-color: #f8f5eb;
    -fx-text-fill: #4f412f;
}

.list-view .list-cell:selected{
    -fx-background-color: #f8edc8;
    -fx-text-fill: #4f412f;
}

.list-view .list-cell:hover{
    -fx-text-fill: royalblue;
}

.context-menu{
    -fx-background-color: #ebf6f8;
}

.menu-item{
    -fx-background-color: #ebf6f8;
}

.menu-item:hover{
    -fx-background-color: #b7d2d7;
}

.pane{
    -fx-background-color: #f6caa8;
}

