*{
    -fx-color-dark-backround: #f8f1db;
    -fx-color-light-backround: #f8f5eb;
    -fx-color-text: #4f412f;
    -fx-color-selected: #f8c878;
    -fx-color-preloader: #906f44;
}


#decoration-main{
    -fx-background-color: -fx-color-selected;
}

#decoration-assm, #decoration-report, #decoration-settings, #decoration-login{
    -fx-background-color: #fdd590;
}

#decoration-searching{
    -fx-background-color: #e5ae4d;
}

#decoration-detail{
    -fx-background-color: #fad79c;
}

#decoration-main .label{
    -fx-text-fill: -fx-color-text;
}

#main, #textReport, #settings, #materials, #executions, .materials-vb, .constants{
    -fx-background-color: -fx-color-dark-backround;
}

#contextMenu{
    -fx-background-color: #ebf6f8;
    -fx-text-fill: -fx-color-text;
}

#login{
    -fx-background-color: -fx-color-dark-backround;
}

.tooltip{
    -fx-background-color: #ebf6f8;
    -fx-text-fill: -fx-color-text;
    -fx-font-size: 12;
}

.check-box{
    -fx-text-fill: -fx-color-text;
}

.button{
    -fx-background-color: -fx-color-dark-backround;
    -fx-padding: 0 0 0 0;
}

.button:hover{
    -fx-background-color: #f8e5ab;
}

.button:pressed{
    -fx-background-color: #f5cf59;
    -fx-border-color: #725b3e;
    -fx-border-radius: 5;
}

.text-field{
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
}


.label{
    -fx-text-fill: -fx-color-text;
}

.list-view{
    -fx-background-color: -fx-color-light-backround;
    -fx-background: -fx-color-light-backround;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #e2dfdf;
}

.list-view .list-cell{
    -fx-background-color: -fx-color-light-backround;
    -fx-text-fill: -fx-color-text;
}

.list-view .list-cell:selected{
    -fx-background-color: -fx-color-selected;
    -fx-text-fill: -fx-color-text;
}

.list-view .list-cell:hover{
    -fx-text-fill: royalblue;
}

.context-menu{
    -fx-background-color: #ebf6f8;
}

.menu-item{
    -fx-background-color: #ebf6f8;
}

.menu-item:hover{
    -fx-background-color: #b7d2d7;
}

.pane{
    -fx-background-color: #f6caa8;
}

/*НАСТРОЙКИ*/

.constants-list-vb{
    -fx-spacing: 5;
    -fx-pref-width: 500;
    -fx-padding: 5 20 5 5;
    -fx-background-color: -fx-color-light-backround;
}

.settings-vb-block{
    -fx-spacing: 5;
}

.settings-hb-value-block{

}

.settings-lb-title{
    -fx-font-family: "Arial";
    -fx-text-fill: darkblue;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

.settings-lb-name{
    -fx-padding: 0 0 0 10 ;
}

.settings-tf-value{
    -fx-pref-width: 80;
    -fx-alignment: baseline-center;
    -fx-background-color: -fx-color-light-backround;
}

/**/
#preloader{
    -fx-background-color: -fx-color-dark-backround;
    -fx-background-radius: 150;
    -fx-border-color: -fx-color-preloader;
    -fx-text-fill: -fx-color-preloader;
    -fx-border-width: 4px;
    -fx-border-radius: 150;
}

#preloader #my_text{
    -fx-fill: -fx-color-text;
}

/*ПОМОЩЬ*/

#helpWindow {

    -fx-background-color: -fx-color-light-backround;
    -fx-border-color: -fx-color-text;
    -fx-border-width: 2;
}

#helpWindow .scroll-pane{
    -fx-background-insets: 0;
    -fx-background-color: -fx-color-light-backround;
}

#helpWindow .scroll-pane .viewport{
    -fx-background-insets: 0;
    -fx-background-color: -fx-color-light-backround;
}

#helpWindow .text{
    -fx-background-insets: 0;
    -fx-background-color: -fx-color-light-backround;
}

#vbOperation{
    -fx-background-color: -fx-color-dark-backround;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/*ИНДИКАТОР ЗАГРУЗКИ*/
#progressIndicator{
    -fx-background-color: -fx-color-dark-backround;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#vbAbout{
    -fx-background-color: -fx-color-dark-backround;
    -fx-border-color:-fx-color-selected;
    -fx-border-width: 4;
}

#warning{
    -fx-background-color: -fx-color-light-backround;
}


/* ПРИНТЕР */

.hbPrinter{
    -fx-background-color: -fx-color-dark-backround;
}

#apPaper{
    -fx-background-color: #FFFFFC;
    -fx-border-color: #3d3a3a;
}

#apPaper {
    -fx-background-color: #FFFFFC;
    -fx-border-color: #3d3a3a;
}

#apPaper .tree-cell:selected,
#apPaper .tree-cell:focused
{
    -fx-background-color: #FFFFFC;
}

