/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */


* {
    -fx-my-black: rgb(50, 50, 50);
    -fx-my-grey: grey;
    -fx-my-menu-color: rgb(50, 50, 50);                  /* Change according to your needs */
    -fx-my-menu-color-highlighted: #455a64;      /* Change according to your needs */
    -fx-my-menu-font-color: #FFFFFF;             /* Change according to your needs */
    -fx-my-menu-font-color-highlighted: #FFFFFF; /* Change according to your needs */

    /*Цвет ПИК*/
    -fx-pik-blue: #4169e1;

    /*Заголовок вкладки*/
    -fx-patch-header: lightgrey;
    -fx-patch-header-text: black;
    -fx-patch-header-button-hover: darkgrey;
    /*Заголовок таблицы*/
    -fx-table-header: grey;
    -fx-table-header-text: white;

    -fx-selector-tint: #28a3f4;

    -fx-patchbutton-height: 20;
    -fx-patchbutton-width: 30;
}


/*=================      КАЛЬКУЛЯТОР ================================*/

#calculator{
    -fx-background-color: #f8f5eb;
}
#calculator .label{
    -fx-text-fill: black;
}

#calculator .list-view{
    -fx-background-color: #f8f5eb;
    -fx-background: #f8f5eb;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #e2dfdf;
}

#calculator .list-view .list-cell{
    -fx-background-color: #f8f5eb;
    -fx-text-fill: black;
}

#calculator .list-view .list-cell:selected{
    -fx-background-color: #f8edc8;
    -fx-text-fill: black;
}

#calculator .list-view .list-cell:hover{
    -fx-text-fill: royalblue;
}

#calculator .context-menu{
    -fx-background-color: #ebf6f8;
}

#calculator .menu-item{
    -fx-background-color: #ebf6f8;
}

#calculator .menu-item:hover{
    -fx-background-color: #b7d2d7;
}

