/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */

.root{
    -fx-background-color: #f8f5eb;
}

.label{
    -fx-text-fill: black;
}

.list-view{
    -fx-background-color: #f8f5eb;
    -fx-background: #f8f5eb;
    -fx-border-width: 2 2 2 2;
    -fx-border-color: #e2dfdf;
}

.list-view .list-cell{
    -fx-background-color: #f8f5eb;
    -fx-text-fill: black;
}

.list-view .list-cell:selected{
    -fx-background-color: #f8edc8;
    -fx-text-fill: black;
}

.list-view .list-cell:hover{
    -fx-text-fill: royalblue;
}

.context-menu{
    -fx-background-color: #ebf6f8;
}

.menu-item{
    -fx-background-color: #ebf6f8;
}

.menu-item:hover{
    -fx-background-color: #b7d2d7;
}

.pane{
    -fx-background-color: #f6caa8;
}

