<?xml version="1.0" encoding="UTF-8" ?>
<configuration packagingData="false" debug="false">

    <contextName>BazaPIK</contextName>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/AppData/Local/BazaPIK/logs/mainLog.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>${user.home}/AppData/Local/BazaPIK/logs/mainLog.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>5</MaxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>

        <encoder>
            <Pattern>[%d{HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{36}] : %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>all</level>
        </filter>

        <encoder>
            <pattern>[%highlight(%-5level)] %d{HH:mm:ss.SSS} [%t] %logger{36} : %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="org.hibernate">
        <level value="error"/>
    </logger>

</configuration>